In [1]:
import pandas as pd
import random
from faker import Faker

In [2]:
faker = Faker()

In [3]:
#uses data from web scraping as the basis for the synthetic data
product_data = pd.read_csv("/users/liamedmunds/Desktop/Semester 3 2024/datasets/Sun4AugWoolworths 1.csv")

In [6]:
#clean the data
product_catalog = product_data[["Product Code", "Category", "Item Name", "Best Price"]].dropna()

product_catalog["Best Price"] = (
    product_catalog["Best Price"]
    .replace('[^\d\.]', '', regex=True)  # Remove everything except digits and dots
    .astype(float)  # Convert to numeric
)

In [14]:
product_catalog.head()

   Product Code     Category                    Item Name  Best Price
0        133211  Fruit & Veg       Cavendish Bananas Each        0.77
1        134034  Fruit & Veg            Fresh Tomato Each        0.65
2        144607  Fruit & Veg     Strawberries 250g Punnet        4.00
3        105919  Fruit & Veg  Fresh Pink Lady Apples Each        0.86
4        169438  Fruit & Veg          Truss Tomatoes Each        0.83

In [15]:
num_transactions = 1000
num_customers = 100
payment_method = ["Credit Card", "Cash", "Gift Card", "Mobile Payment"]

In [16]:
synthetic_transactions = []

In [18]:
for i in range(num_transactions):
    product = product_catalog.sample(1).iloc[0]
    quantity = random.randint(1, 10)
    price = product["Best Price"]
    total_price = round(price * quantity, 2)
    synthetic_transactions.append({
        "Transaction ID": faker.uuid4(),
        "Date and Time": faker.date_time_this_year(),
        "Customer ID": random.randint(1, num_customers),
        "Product Code": product["Product Code"],
        "Item Name": product["Item Name"],
        "Category": product["Category"],
        "Quantity": quantity, 
        "Price": price,
        "Total Price": total_price,
        "Payment Method": random.choice(payment_method)
    })

In [19]:
synthetic_df = pd.DataFrame(synthetic_transactions)

In [21]:
synthetic_df.head()

,Transaction ID,Date and Time,Customer ID,Product Code,Item Name,Category,Quantity,Price,Total Price,Payment Method
0,c837b97e-6faa-431f-837a-398143988a91,2024-02-04 13:16:32.416308,89,206211,Smart Smart Boot Laces Black 120cm Each,Home & Lifestyle,6,3.50,21.0,Mobile Payment
1,e02edebb-db1c-47ad-b384-98a0b15b7eee,2024-05-15 01:24:29.382897,87,608986,Dove Conditioner Daily Care With Lightweight T...,Beauty & Personal Care,6,5.00,30.0,Gift Card
2,bcb13656-d4f5-40d1-8a5e-026e4c90f9ba,2024-03-03 15:02:31.513341,76,513452,Mcobeauty Lip Pop 2-in-1 Lip Gloss Balm Gummy ...,Beauty & Personal Care,3,22.00,66.0,Credit Card
3,115a3cd0-99a4-4b50-a3fd-5c33024ceb5d,2024-04-26 17:21:03.522555,32,663059,Eagle Coin Fried Dace Black Bean 184g,Pantry,10,4.20,42.0,Cash
4,b5ff49e8-0453-49d7-ae3b-51f6c24bcb81,2024-01-03 17:58:07.224940,91,710411,Decor Thermoglass Baking Dish Realseal 1l,Home & Lifestyle,2,7.75,15.5,Mobile Payment

There is a range of information that can used as a starting step to building a recommendation system. Next steps are to have multiple different items with different quantities per transaction and make data such as transaction ID more readable.